# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# System files
.DS_Store
Thumbs.db

# Python packaging artifacts
*.egg-info/
.eggs/
*.egg
build/
dist/